* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #292929;
    color: #fff0ff;
    font-size: 16px;
    
}

html, body {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.conteudo {
    flex: 1;
    padding: 20px 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #060507;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}

.logoheader img {
    width: 80px;
    cursor: pointer;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-list li a {
    text-decoration: none;
    color: #fff0ff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: color 0.4s ease;
}

.nav-list li a:hover {
	color: #7f4ca5;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger span {
    width: 30px;
    height: 2px;
    background-color: #f5f5f5;
    border-radius: 5px;
    transition: transform 0.6s ease;
}

/* Mobile View */
@media (max-width: 768px) {
    .nav {
        display: none;
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #050607;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .nav-list {
        flex-direction: column;
        width: 100%;
        padding: 20px;
    }

    .nav-list li {
        margin: 15px 0;
    }

    .hamburger {
        display: flex;
    }

    .nav.active {
        display: flex;
    }

    .hamburger.active span:nth-child(1) {
        transform: rotate(410deg) translateY(0.6rem);
    }

    .hamburger.active span:nth-child(2) {
	opacity: 0;
	transform: rotate(350deg) translateY(0.2rem);
    }

    .hamburger.active span:nth-child(3) {
        transform: rotate(-410deg) translateY(-0.6rem);
    }
}

.footer {
    	background-color: #050607;
    	color: #fff0ff;
    	padding: 20px 40px;
    	text-align: center;
    	box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.footer-content p {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff0ff
}

.footer-nav {
    margin-top: 10px;
}

.footer-nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

.footer-nav-list li a {
    text-decoration: none;
    color: #fff0ff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

.footer-nav-list li a:hover {
	color: #7f4ca5;
	transition: color 0.4s ease;
}

/* Mobile View */
@media (max-width: 768px) {
    .footer-nav-list {
        flex-direction: column;
        gap: 15px;
    }
}

.nos {
  padding: 60px 40px;
  background-color: #2c2c2b;
  color: #fff0ff;
  text-align: center;
}

.nos h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #fff0ff
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.card {
  background-color: #2c2c2b;
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  object-position: top;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #7f4ca5;
}

.card-content p {
  font-size: 0.95rem;
  margin-bottom: 20px;
  color: #fff0ffcc;
}

.btn {
  display: inline-block;
  background-color: #7f4ca5;
  color: #fff0ff;
  padding: 10px 18px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #4b1c71;
}

/* Animação scroll reveal */
.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}